@mixin flex($horizontal: center, $vertical: center) {
	display: flex;
	justify-content: $horizontal;
	align-items: $vertical;
}

@mixin repeat-title {
	font-family: $fontFamily;
	font-style: normal;
	font-weight: 800;
	font-size: 32px;
	line-height: 125%;
	color: $blackColor;
	text-align: center;
}

@mixin hover-btn {
	border: 2px solid #67aefc;
	cursor: pointer;
	//padding: 20px 90px;
}

@mixin shop-example-hover {
	display: flex;
	transition: 0.7s;
	cursor: pointer;
}

@mixin for-size($size) {
	@if $size == phone {
		@media screen and (max-width: 375px) {
			@content;
		}
	} @else if $size == tablet {
		@media screen and (max-width: 768px) {
			@content;
		}
	}
}
