.structure {
	background: $blueBg;
	position: relative;
	&__img-bag {
		position: absolute;
		bottom: 100px;
		right: 140px;
		@include for-size(phone) {
			display: none;
		}
	}
	&__wrapper {
		padding-top: 120px;
		@include for-size(tablet) {
			padding-top: 80px;
		}
		@include for-size(phone) {
			padding-top: 18px;
		}
	}
	&__title-text {
		@include repeat-title;
		@include for-size(phone) {
			font-size: 23px;
		}
	}
	&__list {
		padding-top: 118px;
		padding-bottom: 120px;
		@include for-size(tablet) {
			padding-top: 78px;
			padding-bottom: 80px;
		}
		@include for-size(phone) {
			padding-top: 18px;
			padding-bottom: 30px;
		}
		.item {
			width: 100%;
			margin-bottom: 10px;
			background-color: $whiteColor;
			border-radius: 15px;
			position: relative;
			padding-top: 14px;
			padding-bottom: 15px;
			padding-left: 96px;
			cursor: pointer;
			font-family: $fontFamily;
			font-size: 18px;
			font-weight: 400;
			line-height: 175%;
			color: $blackColor;
			@include for-size(phone) {
				padding-left: 75px;
				max-width: 335px;
				margin-inline: 15px;
				font-size: 18px;
			}
		}
		.item::before {
			content: '';
			position: absolute;
			width: 24px;
			height: 24px;
			border-radius: 50%;
			background-color: $greenColor;
			left: 44px;
			top: 25%;
			@include for-size(phone) {
				width: 15px;
				height: 15px;
				left: 30px;
			}
		}
		.arrow-down {
			position: absolute;
			right: 3%;
			top: 40%;
			width: 24px;
			height: 13px;
		}
		.active {
			display: none;
			border-radius: 15px;
			margin-bottom: 10px;
			background: $whiteColor;
			position: relative;
			animation: 1s ease-in-out 0s alternate content_mv;
			@include for-size(phone) {
				margin-inline: 15px;
			}
			&__title {
				padding-top: 14px;
				padding-bottom: 41px;
				padding-left: 96px;
				font-family: $fontFamily;
				font-weight: 700;
				font-size: 21px;
				line-height: 125%;
				color: #000000;
				@include for-size(phone) {
					padding-left: 75px;
					font-size: 16px;
					padding-bottom: 19px;
				}
			}
			&__title::before {
				content: '';
				position: absolute;
				width: 24px;
				height: 24px;
				border-radius: 50%;
				background-color: $blueColor;
				left: 44px;
				top: 5%;
				@include for-size(phone) {
					width: 15px;
					height: 15px;
					top: 18px;
					left: 30px;
				}
			}
			.hr-1 {
				position: absolute;
				width: 1px;
				height: 115px;
				color: #000000;
				left: 55px;
				top: 65px;
				@include for-size(tablet) {
					height: 175px;
				}
				@include for-size(phone) {
					top: 48px;
					left: 35px;
					height: 388px;
				}
			}
			.hr-2 {
				@extend .hr-1;
				height: 317px;
				@include for-size(tablet) {
					height: 460px;
				}
				@include for-size(phone) {
					height: 475px;
					top: 65px;
				}
			}
			.hr-3 {
				@extend .hr-1;
				height: 82px;
				@include for-size(tablet) {
					height: 138px;
				}
				@include for-size(phone) {
					height: 307px;
				}
			}
			.hr-4 {
				@extend .hr-1;
				height: 142px;
				@include for-size(tablet) {
					height: 205px;
				}
				@include for-size(phone) {
					height: 283px;
					top: 65px;
				}
			}
			.hr-5 {
				@extend .hr-4;
				@include for-size(tablet) {
					height: 232px;
				}
				@include for-size(phone) {
					height: 497px;
					top: 50px;
				}
			}
			&__text {
				font-family: $fontFamily;
				font-weight: 400;
				font-size: 18px;
				line-height: 175%;
				color: #000000;
				padding-left: 96px;
				padding-right: 69px;
				padding-bottom: 59px;
				@include for-size(phone) {
					padding-left: 75px;
					font-size: 16px;
					padding-bottom: 38px;
				}
				br,
				span {
					@include for-size(phone) {
						display: none;
					}
				}
			}
			&__img {
				position: absolute;
				right: 3%;
				top: 10%;
				width: 24px;
				height: 13px;
				@include for-size(phone) {
					top: 18px;
				}
			}
		}
		.active-selected {
			display: block;
		}
	}
}

@keyframes content_mv {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
